* {
	margin: 0;
	padding: 0;
}
body {
	font: 18px Verdana;
	color: #FFF;
  background: #33FFBD;
}
#header{
	text-align: center;
	width: 80%;
	margin-left: 10%;
}
#footer{
	position: fixed;
	font: 12px Verdana;
	text-align: right;
	float: right;
	bottom:5px;
}

#picsquare {
	margin: 0px auto;
	width: 640px;
}
#card {
	z-index: 1;
	margin: 10px 0 0;
}
#card div{
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid ##33DBFF;
	z-index: 2;
	cursor: pointer;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
	background: #B1B1B1;
	border-radius: 10px;
}
#card div img {
	border-radius: 10px;
	display: none;
	z-index: 3;
}
#squarebuttons {
	display: block;
	text-align: center;
	margin: 20px;
}
#squarebuttons .button {
	cursor: pointer;
	text-transform: uppercase;
	background: #33DBFF;
	color: #FF5733;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
}
#squarebuttons .button:hover {
	background: #999;
}
